<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/home_style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lexend:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Poppins:wght@700&display=swap" rel="stylesheet">
  <script src = "/js/accounts.js"> </script>
  <script src = "/js/home_script.js"> </script>
</head>
<body>
<div class="banner">
    <div class="home-content">
        <h1>LABORATORY RESERVATION</h1>
        <p>Reserve your slot with us!</p>
        <div> 
            <a href="login">
                <button class="home-button" id="login-button">
                <span class="home-span"></span>Login
            </button>
            </a>
            <a href="register_student">
                <button class="home-button" id="register-student">
                    <span class="home-span"></span>Register as Student
                </button>
            </a>
            <a href="register_technician">
                <button class="home-button" id="register-technician" href="register_technician">
                    <span class="home-span"></span>Register as Lab Technician
                </button>
            </a>
    
           
        </div>
    </div>
</div>
</body>
</html>
